################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/hacknet-save-reader/FileContentIndex
/.vs
/build/hacknet-save-readerV1.21
/dist
/hacknet-save-readerV1.21-build6.zip
/log.txt
/hacknet-save-readerV1.2.spec
/hacknet-save-readerV1.2.py
/build/hacknet-save-reader
/hacknet-save-reader.spec
